*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: 	#ece6e3;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    padding: 50px 300px auto 50px ;
}

#mainmenu{
    font-size: 20px;
    padding: 15px 6px;


   

      
}
#mainmanu:hover{
    background-color: #8d988d;
}
#maindiv{
    height: 370px;
    width: 200px;
    background-color: 	#cebfb6;
    border-radius: 12px;
    display: none;
    flex-direction: column;
}
.social{
    display: flex;
    padding: 8px 6px;
    align-items: center;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: 17px;
    font-weight: 200;
    font-style: normal;
}
.social:hover{
    background-color: 	#8d988d;
    border-radius: 12px;
}

i{
    font-size: 20px;
}

#carousel{
    margin: 70px 200px 0px 0px;
    height: 450px;
    width: 800px;
    position: relative;

}
.imgdiv{
    display: none;
    background-color:  aqua;

}
#cirlcediv{
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 100%;
    background-color: #8d988d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.circle{
    background-color: #ece6e3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.but{
    height: 80px;
    width:60px ;
    background-color: black;
    color: white;
    position: absolute;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}
#button1{
    left: 0%;
}
#button2{
    right: 0%;
}

.display{
    display: block;
    background-color:black;
}

img{
    height: 400px;
    width: 100%;
}

imgback{
    background-color: orangered;
}
